:root {
    --gallery-width-ultrawide: 1900px;
    --gallery-width-desktop: 90%;
    --gallery-width-tablet: 90%;
    --gallery-width-mobile: 98%;
    --color-1: #191919;
    --stencil-width: 150px;
}

html {
    background: var(--color-1);
}

#lightgallery {
    max-width: var(--gallery-width-mobile);
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    #lightgallery {
        max-width: var(--gallery-width-tablet);
    }
}

@media screen and (min-width: 900px) {
    #lightgallery {
        max-width: var(--gallery-width-desktop);
    }
}

@media screen and (min-width: 1950px) {
    #lightgallery {
        max-width: var(--gallery-width-ultrawide);
    }
}

#lightgallery a {
    width: 400px;
    max-width: calc(50% - 6px);
    margin: 3px;
    overflow: hidden;
}

@media screen and (min-width: 600px) {
    #lightgallery a {
        max-width: calc(33.33333% - 10px);
        margin: 5px;
    }
}

@media screen and (min-width: 900px) {
    #lightgallery a {
        max-width: calc(20% - 10px);
    }
}

#lightgallery a img {
    width: 100%;
    position: relative;
    display: block;
    transition: transform .15s ease-in, filter .15s ease-in;
}

#lightgallery a:hover img {
    transform: scale(1.1);
    filter: brightness(0.7);
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-image: url('/share/static/images/play.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#lightgallery a:has(.play-icon):hover .play-icon {
    opacity: 1;
}

#password {
    color: white;
}

#header {
    font-family: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif;
    color: white;
    width: 100%;
    display: flex;
}

#header h1 {
    font-size: 18pt;
    font-weight: bold;
    margin: 4px;
}

#download-all {
    margin: auto 4px auto auto;
}

#loading-spinner {
    text-align: center;
    margin: 75px 0;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #888;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
